* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.grid_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
p {
  border: solid black 2px;
}

@media (width>= 500px) {
  .grid_2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .grid_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .text1 {
    order: 1;
  }
  .daisy {
    order: 2;
  }
}
